.navbar-home {
    background-color: #ad1616;
    border-radius: 0;
    border-color: #e7e7e7;
    margin-bottom: 0;
}

.navbar-home .navbar-nav>li>a {
    color: #f3f3f3;
}

.navbar-home .navbar-brand {
    color: #fff;
    font-weight: bold;
}

.carousel-container {
    height: 550px;
}

/* .item-image{
    width: 100%;
} */

.about-pizza{
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.footer{
    background-color: #ad1616;
    padding: 1.5rem 0;
    color: #fff;
}